
.formulariolibro{
    width: 700px;
    height: 450px;
    background-color: rgb(202, 154, 247);
    border-radius: 20px;
    margin-top: 20px;
    padding-top: 60px;
}
.espacionombre{
    margin-top: 50px;
}
.espaciolibro{
    margin-bottom: 10px;
}
.labelslibro{
    color: rgb(55, 27, 82);
    font-size: 18px;

}
