.formularioUsuario{
    width: 400px;
    height: 400px;
    float: left;
    margin-top: 70px;
    margin-left: 470px;
    position: relative;
    background-color: #A886C8;
    border-radius: 30px;
}

.tituloform{
    color: rgb(28, 57, 90);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 38px;
    margin-top: 10px;
    margin-left: 8px;
}

.labels{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.btnCancelar{
    width: 120px;
    height: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: -5px;
    margin-left: 40px;
    float: left;
    background-color: rgb(156, 21, 51); 
    border-radius: 10px;      
}
.btnregistrar2{
    width: 160px;
    height: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;    
    margin-top: -5px;
    margin-left: 40px;
    float: left;
    background-color: rgb(28, 57, 90); 
    border-radius: 10px;   
}

